<div class="container">
    <div class="tInfo">
        <h2>{{titulo}}</h2>
    </div>

    <div class="contact1">
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTLGtjjrZhvhBsWvsTWVpdhDrHSgQrDzLWKdkMrfGNmKtnncPtBsvSlzvZfMzhcdsMfWZg" target="_blank"><img src="../../../assets//icons/gmail.png"></a>
        <p>
            Hola! Si tienes alguna duda o quieres tener comunicación conmigo de forma rápida, mándame un email. Pronto estarémos en contacto.
        </p>
    </div>

    <div class="contact2">
        <a href="https://bit.ly/3cgnRWY" target="_blank"><img src="../../../assets/icons/whatsapp.png"></a>
        <p>
            Si de alguna manera quieres tener comunicación directa conmigo mandame un DM en Whatsapp. De todas maneras te dejo mis otras redes. Pronto estarémos en contacto.
        </p>
    </div>

    <div class="social">
        <div class="allsocial">
            <div class="ne1">
            <a href="https://www.facebook.com/JaviierDs3" target="_blank"><img src="../../../assets/icons/facebook.png"></a>
            </div>
            <div class="ne2">
            <a href="https://www.instagram.com/direct/inbox/" target="_blank"><img src="../../../assets//icons/instagram.png"></a>
            </div>
            <div class="ne3">
            <a href="https://github.com/MegaGone" target="_blank"><img src="../../../assets/icons/github.png"></a>
            </div>
            <div class="ne4">
            <a href="https://www.linkedin.com/in/jimmy-javier-542b821a6/" target="_blank"><img src="../../../assets/icons/linkedin.png"></a>
            </div>
        </div>
    </div>

</div>