<div id="titulo">
    <h1>{{titulo}}</h1>
    <p>{{autor}}</p>
    <span>{{desing}}</span>
</div>


<article class="cuerpo">
    <h2>{{sub}}</h2>
    <P>
        La Historia del desarrollo web comienza, él inventor de la red, el científico informático británico Tim Berners-Lee, quería crear un sistema que
        permitiera a los investigadores del CERN compartir información fácilmente, algunos investigadores del CERN de
        todo el mundo difunden el sistema creado por Berners-Lee en sus universidades de origen porque es un sistema
        abierto y gratuito. Internet ya existía en ese momento, pero su acceso se limitaba principalmente a
        universidades y centros de investigación. En noviembre de 1993 se publicó la versión 1.0 de Mosaic, un navegador
        creado en la Universidad de Illinois por Marc Andreessen y que superaba a todos al permitir, por ejemplo,
        incluir imágenes en las páginas web. En 1994 se permitió el acceso de particulares y empresas a Internet. La web
        se convirtió enseguida en el servicio más empleado para ofrecer información, eclipsando a servicios competidores
        como Gopher o WAIS. Desde entonces internet comenzó a verse como una gran oportunidad de negocio, y Marc
        Andreessen inició a Netscape, que lanzará la versión 1.0 de su navegador en diciembre de 1994, inició la web.
    </P>
</article>