<div class="infoContainer">
    <mat-icon [routerLink]="['/information']">arrow_left</mat-icon>
    <div class="infoTitle">
        <h2>{{titulo}}</h2>
    </div>
    <div class="padre2">
        <div class="slider">
            <div><img src="../../../assets/img/inicio.jpg"></div>
            <div><img src="../../../assets/img/ui.jpg"></div>
            <div><img src="../../../assets/img/maquetador.jpg"></div>
            <div><img src="../../../assets/img/front.jpg"></div>
            <div><img src="../../../assets/img/backend.jpg"></div>
            <div><img src="../../../assets/img/database.jpg"></div>
            <div><img src="../../../assets/img/arquitecto.jpg"></div>
            <div><img src="../../../assets/img/qa.jpg"></div>
        </div>
    </div>
    <div class="desarrone2">
        <p>
            A través del desarrollo web, entendemos todas las disciplinas involucradas en la creación de un sitio web o
            una aplicación que se ejecuta en la web y se puede acceder a ella a través de un navegador, aunque
            desarrollo web puede ser un ámbito muy específico del desarrollo en general, el ecosistema de tecnologías,
            lenguajes y herramientas disponibles para la creación web es enorme. La web es todo lo que se puede ejecutar
            en un navegador. ¿Y qué es un navegador? Son programas como Chrome, Opera, Microsoft Edge que nos permiten
            acceder a sitios como Twitter, Facebook, YouTube, Slack, etc. Los desarrolladores web lo hacen a través de
            diversos lenguajes de programación. El lenguaje que utilizan en
    </div>

    <p class="desarrotwo">
        cada momento depende del tipo de tarea que están haciendo. El desarrollo web se divide, de forma general, en
        Frontend (la parte cliente) y Backend (la parte servidor). Funcionalmente hablando, los desarrolladores web que
        se dedican a este trabajo normalmente solo se preocupan por el funcionamiento del software, y la tarea del
        diseñador web es preocuparse por la apariencia final (diseño) de la página y la integración del administrador
        web. A veces, el webmaster también es responsable de actualizar el contenido de las páginas.
    </p>

</div>