<header>
  <ul>
    <li><a [routerLink]="['/home']" [routerLinkActive]="['activo']">Inicio</a></li>
    <li><a [routerLink]="['/information']" [routerLinkActive]="['activo']">Foro</a></li>
    <li id="logo"><a href="#" >
        <mat-icon>home</mat-icon>
      </a></li>
    <li><a [routerLink]="['/coments']" [routerLinkActive]="['activo']">Comentario</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['activo']">Contacto</a></li>
  </ul>
</header>

<section id="global">
  <router-outlet></router-outlet>
</section>

<footer>
  <p>
    Jimmy Martinez Developer&copy;
  </p>
</footer>